################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bigbluebutton/bin
/bigbluebutton/obj
/bbbclientapp/obj
